@use "global" as *;

.footer-nav__item--black a{
    color: #0D2936;
    display: block;
}

.site-map__inner{
    max-width: $max-width;
    width: 100%;
    margin: auto;
}

.site-map__body{
    display: flex;
    margin-top: rem(14);
    @include mq(md){
        margin-top: rem(0);
        
    }
}

.site-map__wrapper{
    width: 50%;
    @include mq(md){
        display: flex;
    }
}

.site-map__wrapper-space{
    padding-left: rem(12);
    @include mq(md){
        padding-left: rem(0);
    }
}

.site-map__container{
    margin-top: rem(12);
    @include mq(md){
        width: 50%;
    }
}

.site-map__container--space{
    @include mq(md){
        padding-left: rem(18);
    }
}


.footer-nav__item-title--logo{
    position: relative;
    padding-top: rem(10);
    padding-bottom: rem(10);
    padding-left: rem(21);
    @include mq(md){
        padding-top: rem(10);
        padding-bottom: rem(8);
    }
}

.footer-nav__item-title--logo a::before {
    background-image: url(../images/common/site-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    left: 0;
    width: rem(18);
    height: rem(18);
}